* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner-home-header {
    width: 100wv;
    padding: 36px 70px;
}

.conteiner-home-header header {
    display: flex;
    align-items: center;
}

.conteiner-home-header header ul {
    display: flex;
    margin-right: 20px;
}

.conteiner-home-header header li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    cursor: pointer;
}

.form-home-header {
    display: flex;
    align-items: center;
}

.search-home {
    width: 310px;
    height: 33px;
    border-radius: 5px;
    background: #FFF47A;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-right: 20px;
}

.search-btn {
    background: 0;
    border: 0;
}

.search-btn img {
    width: 32px;
    height: 32px;
}

.user-btn {
    background: 0;
    border: 0;
    margin-left: auto;
    margin-right: 0;
}

.user-btn img {
    width: 32px;
    height: 32px;
}

.home-banner {
    width: 100%;
    height: 400px;
    background: no-repeat url('../../img/top.png') 0 0;
    -moz-background-size: cover;
    /* Firefox 3.6+ */
    -webkit-background-size: cover;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover;
    /* Opera 9.6+ */
    background-size: cover;
    display: flex;
}

.home-banner img {
    width: 271px;
    height: 200px;
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.carts {
    padding: 65px 70px;
    display: grid;
    grid-template-columns: repeat(3, 420px);
    gap: 20px;
    justify-content: space-around;
}

.cart {
    width: 420px;
    height: fit-content;
    background: #FFF47A;
    justify-content: center;
}

.cart-photo {
    width: 420px;
    height: 310px;
    background: url("../../img/food.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
}

.cart-content {
    padding: 12px 14px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cart-header-title {
    font-size: 20px;
    font-weight: 700;
}

.cart-header-info {
    font-size: 16px;
    font-weight: 700;

}

.cart-data {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

.cart-user {
    font-size: 16px;
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 10px;
}

.cart-time {
    font-size: 16px;
    text-align: left;
    background: url("../../img/time.png") no-repeat 0 center;
    background-size: 20px;
    padding: 0 33px;
    margin-bottom: 10px;
}

.cart-tags {
    font-size: 16px;
    text-align: left;
    background: url("../../img/tag.png") no-repeat 0 center;
    background-size: 20px;
    padding: 0 33px;
    margin-bottom: 10px;
}

.load-cats {
    font-size: 24px;
    font-weight: 500;
    width: 421px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFC530;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 70px;
}

.home-footer {
    width: 100wv;
    height: 110px;
    background: #FFC530;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-link {
    display: flex;
    width: 270px;
    justify-content: space-between;
    margin-left: 70px;
    list-style: none;
}

.list-link-vk {
    width: 50px;
    height: 50px;
    background: url("../../img/vk.png") no-repeat center center;
    background-size: 50px;
}

.list-link-tg {
    width: 50px;
    height: 50px;
    background: url("../../img/telegram.png") no-repeat center center;
    background-size: 50px;
}

.list-link-wt {
    width: 50px;
    height: 50px;
    background: url("../../img/whatsapp.png") no-repeat center center;
    background-size: 50px;
}

.name-comp {
    font-size: 24px;
    font-weight: 500;
}

.home-footer-phone {
    color: #000;
    text-decoration: none;
}

.home-footer-email {
    color: #000;
    text-decoration: none;
}

.home-footer-phone-email {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    margin-right: 70px;


}